@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer {
  text-align: center;
  margin: 2rem 0;
  padding: 1rem 0;
  background-color: white;
}

.anchor {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.anchor:hover {
  text-decoration: underline;
}
