@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-blue: #0290ff;
  --link-clicked-category: #121212;
  --link: #2C2C2C;
  --author: #4386bf;

}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
