@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --link: #2c2c2c;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--link);
  text-decoration: none;
}
